.button {
    border-radius: 6px;
    color: var(--text);
    transition:
        background-color 200ms ease-in-out,
        color 200ms ease-in-out;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 6px;
}
.button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
.button:not(:disabled):hover {
    background: var(--bg-hover);
}

/* Variant */
.button-outline {
    border: 1px solid var(--border);
}
.button-solid {
    border: 1px solid var(--border);
    background: var(--bg-highlight);
}
.button-ghost {
    background: none;
    border: none;
}
.button-ghost:hover {
    background: var(--bg-highlight);
}

/* Severity */
.button-primary {
    background: var(--primary-color);
    border: none;
    color: white;
}
.button-primary:not(:disabled):hover {
    background: var(--primary-color-hover);
}
.button-bg-base {
    background: var(--bg-base);
    color: var(--text);
}
.button-white {
    color: white;
}
.button-danger {
    background: hsl(350, 80%, 45%);
    color: white;
    border: none;
}
.button-danger:not(:disabled):hover {
    background: hsl(350, 80%, 38%);
}
.button-danger.button-outline {
    border: 1px solid hsl(350, 80%, 45%);
    background: none;
    color: hsl(350, 80%, 85%);
}
.button-danger.button-outline:not(:disabled):hover {
    border-color: hsl(350, 80%, 38%);
}

/* Size */
.button-small {
    padding: 4px 8px;
    font-size: 12px;
}
.button-medium {
    padding: 6px 12px;
    font-size: 14px;
}
.button-large {
    padding: 8px 16px;
    font-size: 16px;
}

/* Alternatives */
.button-with-alternatives button:first-child {
    padding-right: 6px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.button-with-alternatives button:nth-child(2) {
    padding-left: 6px;
    padding-right: 6px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
