.checkbox-wrapper {
    display: inline-flex;
    padding: 6px;
    border-radius: 6px;
    position: relative;
}

.checkbox {
    appearance: none;
    background-color: var(--bg-highlight);
    border-radius: 5px;
    border: 1px solid var(--border);
    width: 1em;
    height: 1em;
    font: inherit;
    cursor: pointer;
}

.checkbox-wrapper-checked.checkbox-wrapper-primary .checkbox {
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
}
.checkbox-wrapper-checked.checkbox-wrapper-white .checkbox {
    background-color: white;
    border: 1px solid white;
}

.checkbox-check {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    color: white;
}
.checkbox-wrapper-white .checkbox-check {
    color: black;
}
