src/common/ui/**/*
src/common/ftp/**/*
src/common/test/**/*
src/common/task/**/*
src/common/upload/**/*
src/common/contextmenu/**/*
src/web/WebsocketFTPConnection.ts
src/server/*
src/protocol/packets.ts