.main-view {
    background-color: var(--bg-dark);
    height: 100%;
    display: grid;
    grid-template-rows: auto auto 1fr;
    grid-template-columns: auto 1fr auto;
    grid-template-areas:
        ".               actions     right-content"
        ".               navigation  right-content"
        "folder-explorer content     right-content"
        "bottom-content  bottom-content bottom-content";
}

.navigation {
    grid-area: navigation;
    max-width: 1000px;
    min-width: 0;
}

.path-container {
    display: inline-flex;
    background-color: var(--bg-base);
    border: 1px solid var(--border);
    padding: 2px 4px;
    min-width: 0;
    overflow-x: auto;
}

.folder-explorer {
    grid-area: folder-explorer;
    width: 20vw;
}

@media (max-width: 1024px) {
    .folder-explorer {
        display: none;
    }
}

.content {
    grid-area: content;
    max-width: 1000px;
}

.actions {
    grid-area: actions;
    border-bottom: 1px solid var(--border);
    background-color: var(--bg-base);
    max-width: 1000px;
}

.right-content {
    grid-area: right-content;
    display: flex;
}

.bottom-content {
    grid-area: bottom-content;
    justify-content: center;
    display: flex;
}

.bottom-content.bottomAdDesktop-false {
    display: none;
}

@media (max-width: 768px) {
    .right-content {
        display: none;
    }
    .bottom-content,
    .bottom-content.bottomAdDesktop-false {
        display: flex;
    }
}
