.folder-content-table {
    border-collapse: collapse;
}

.folder-content-table td.entry-name {
    padding: 9px;
}
.folder-content-table th.entry-name {
    padding: 10px;
}

@media (max-width: 1024px) {
    .folder-content-table .last-modified {
        display: none;
    }
}
