.folder-entry-component {
    border-top: 1px solid var(--border);
    cursor: pointer;
    transition: background-color 0.1s ease-in-out;
    user-select: none;
}
.folder-entry-component:not(.selected):hover {
    background-color: var(--bg-highlight);
}

.folder-entry-component.selected {
    background-color: var(--primary-color);
}
.folder-entry-component.selected:hover {
    background-color: var(--primary-color-hover);
}

.folder-entry-rename-wrapper {
    border: 1px solid white;
    border-radius: 5px;
    padding: 0px 8px;
    position: relative;
    display: inline-block;
}

.folder-entry-rename-input {
    outline: none;
    padding: 0;
    border: none;
    font-size: inherit;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 8px;
    font-family: sans-serif;
    width: 100%;
    color: var(--text);
}

.folder-entry-rename-size {
    position: relative;
    opacity: 0;
    user-select: none;
    font-family: sans-serif;
    min-width: 2px;
    height: 1em;
    white-space: pre;
}
