.folder-content-table {
    border-collapse: collapse;
}

.folder-content-table thead {
    z-index: 2;
}

.folder-content-table td.entry-name {
    padding: 9px;
}
.folder-content-table th.entry-name {
    padding: 10px;
}

.folder-content-table .folder-entry-name-text {
    flex: 1 1 auto;
    min-width: 0;
    overflow-wrap: anywhere;
    word-break: break-word;
}

@media (max-width: 900px) {
    .folder-content-table .last-modified {
        display: none;
    }
}
