:root {
    --bg-dark: hsl(226 31% 93%);
    --bg-base: white;
    --bg-highlight: hsl(226 73% 96%);
    --bg-hover: hsl(195, 40%, 95%);

    --text: hsl(0, 0%, 5%);
    --text-muted: hsl(0, 0%, 50%);

    --border: hsl(0, 0%, 80%);

    --primary-color: hsl(215, 95%, 52%);
    --primary-color-hover: hsl(215, 95%, 48%);
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-dark: hsl(198, 55%, 5%);
        --bg-base: hsl(0, 0%, 12%);
        --bg-highlight: hsl(0, 0%, 20%);
        --bg-hover: hsl(0, 0%, 18%);

        --text: hsl(0, 0%, 95%);
        --text-muted: hsl(0, 0%, 70%);

        --border: hsl(0, 0%, 30%);
    }
}

.bg-dark-ui2 {
    background-color: var(--bg-dark);
}
.bg-base-ui2 {
    background-color: var(--bg-base);
}
.bg-highlight-ui2 {
    background-color: var(--bg-highlight);
}
.text-color {
    color: var(--text);
}
.text-muted-color {
    color: var(--text-muted);
}

.text-normal {
    font-size: 16px;
    line-height: 20px;
}
.text-small {
    font-size: 14px;
    line-height: 16px;
}
.text-smaller {
    font-size: 12px;
    line-height: 14px;
}
