:root {
    --bg-dark: var(--theme-light-bg-dark, white);
    --bg-base: var(--theme-light-bg-base, white);
    --bg-highlight: var(--theme-light-bg-highlight, white);
    --bg-hover: var(--theme-light-bg-hover, white);

    --text: var(--theme-light-text, black);
    --text-muted: var(--theme-light-text-muted, black);

    --border: var(--theme-light-border);

    --primary-color: var(--theme-light-primary-color);
    --primary-color-hover: var(--theme-light-primary-color-hover);
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-dark: var(--theme-dark-bg-dark, black);
        --bg-base: var(--theme-dark-bg-base, black);
        --bg-highlight: var(--theme-dark-bg-highlight, black);
        --bg-hover: var(--theme-dark-bg-hover, black);

        --text: var(--theme-dark-text, white);
        --text-muted: var(--theme-dark-text-muted, white);

        --border: var(--theme-dark-border);

        --primary-color: var(
            --theme-dark-primary-color,
            var(--theme-light-primary-color)
        );
        --primary-color-hover: var(
            --theme-dark-primary-color-hover,
            var(--theme-light-primary-color-hover)
        );
    }
}

.bg-dark-ui2 {
    background-color: var(--bg-dark);
}
.bg-base-ui2 {
    background-color: var(--bg-base);
}
.bg-highlight-ui2 {
    background-color: var(--bg-highlight);
}
.text-color {
    color: var(--text);
}
.text-muted-color {
    color: var(--text-muted);
}

.text-normal {
    font-size: 16px;
    line-height: 20px;
}
.text-small {
    font-size: 14px;
    line-height: 16px;
}
.text-smaller {
    font-size: 12px;
    line-height: 14px;
}
