.image-editor-container {
    display: grid;
    grid-template-rows: 1fr auto auto;
    height: 100vh;
    text-align: center;
}
.image {
    object-fit: contain;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    image-rendering: pixelated;
}